extends templates/layout

block content
    .container
        .panel.panel-default
            .panel-heading Current Cash Items
            .panel-body some text
            table
                tr.table-header
                    td.name-column Name
                    td.description-column Description
                    td.value-column Value
                - for (var i = 0; i < cashData.length; i++) {
                    - var currentItem = cashData[i]
                    tr
                        td.name-column
                            = currentItem.name
                        td.description-column
                            = currentItem.description
                        td.value-column
                            = currentItem.value
                - }
    .container
        .panel.panel-primary
            .panel-heading Add a new data entry
            .panel-body
                form(action="/cash", method="post")
                    .row
                        .col-sm-2
                            .form-group
                                label(for='name')
                                    h5 name
                                input.form-control(type='text', id='name', name='name', required)
                        .col-sm-8
                            .form-group
                                label(for='description')
                                    h5 description
                                input.form-control(type='text', id='description', name='description', required)
                        .col-sm-2
                            .form-group
                                label(for='value')
                                    h5 value
                                input.form-control(type='number', pattern='^\d+\.\d{2}', id='value', name='value', required)
                    .row
                        .col-sm-10
                        .col-sm-2
                            button.btn.btn-primary.btn-block(type='submit') Submit
    .container
        .panel.panel-default
            .panel-heading Overview how much everyone needs to pay (red) or gets back (green)
            .panel-body
                - for (var key in sumData) {
                    - var divClass = "negative-panel"
                    - if (sumData[key] <= 0)
                        - divClass = "positive-panel"
                    .row(class=divClass)
                        .col-xs-6.overview-name
                            p
                                = key
                        .col-xs-6.overview-value
                            p
                                if (sumData[key] <= 0)
                                    = sumData[key].toFixed(2) * -1
                                else
                                    = sumData[key].toFixed(2)
                - }
