extends templates/layout

block content
    .container
        .panel.panel-default
            .panel-heading Einkaufsliste
            table(class="table table-striped")
                tr.table-header
                    td.name-column Name
                    td.amount-column Anzahl
                    - for (var i = 0; i < shoppingData.length; i++) {
                        - var currentItem = shoppingData[i];
                        - console.log(currentItem.isClaimed);
                        - if (currentItem.isClaimed === true) {
                            tr(class="shopping-list-item danger", id=i)
                                td.item-name-column
                                    = currentItem.isClaimed
                                td.amount-column
                                    = currentItem.amount
                        - } else {
                            tr(class="shopping-list-item active", id=i)
                                td.item-name-column
                                    = currentItem.isClaimed
                                td.amount-column
                                    = currentItem.amount                      
                        - }
                    - }
    .container
        .panel.panel-default
            .panel-heading(style="background-color=#F16745") Item hinzufügen
            .panel-body 
                form(class="form-inline" action="/shoppingList/Create", method="post")
                    .form-group
                        label(for='name')
                            | Name
                        input.form-control(type='text', id='name', name='name', required)
                    .form-group
                        label(for='amount')
                            | Anzahl
                        input.form-control(type='number', id='amount', name='amount', required)
                    .form-group
                        button.btn.btn-primary(type='submit') Absenden

