/**************************************************************************************************
 * Navbar
 **************************************************************************************************/

.navbar {
    background: linear-gradient(to bottom, #e7e7e7, #f7f7f7, #ffffff, #f7f7f7);
    background: #404040;
}

.navbar .navbar-nav>li>a {
    color: #fff;
}

.nav-link:hover {
    background-color: #7f7f7f;
    color: #000;
}

.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.navbar-left {
    margin-left: 50px;
}

.navbar-right {
    margin-right: 50px;
}

.navbar-dropdown {
    margin-top: 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/**************************************************************************************************
 * Login
 **************************************************************************************************/
 
.login-header {
    text-align: center;
}

/**************************************************************************************************
 * Tables
 **************************************************************************************************/
 
table{
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

.table-header {
    font-weight:bold;
}


tr:nth-child(even) {
    background-color: #E0E0E0;
}

td {
    position: relative;
    padding: 2px;
}

tr[requires-action="true"] {
    background: #f8b20b;
}

tr.strikethrough td {
    text-decoration: line-through;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

/**************************************************************************************************
 * Cash Pools list
 **************************************************************************************************/
 
.pool-action-column {
    width: 1px;
    margin: 2px;
    white-space: nowrap;
}
 
.item-name-column {
    width: 50%;
}

.icon {
    color: white;
    background-color: #337ab7;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.pool-container {
    margin-bottom: 2em;
}

/**************************************************************************************************
 * Cash Pool - Balance Sheet
 **************************************************************************************************/

.balance.positive {
    background-color: #E0F0E0;
}
 
.balance.negative {
    background-color: #F0E0E0;
}
 
tr.balance td {
    height: 42px;
}

td.balance.name {
    text-align:right;
}

td.balance.factor {
    width: 100px;
}

td.balance.balance {
    text-align: left;
}

td.balance.closed {
    width: 60px;
    text-align : center;
}

td.balance.settled {
    width: 60px;
    text-align : center;
}

.toogle.slider {
    position: relative;
    display: inline-block;
    background-color: gray;
    width: 60px;
    height: 34px;
    border-radius: 17px
}

.toggle.button {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: inline-block;
}

.toggle.btn.inactive{
    background-color: #e7e7e7;
    color: black;
}

.toggle.btn.inactive p {
    position: absolute;
    font-size: 16pt;
    left: 5px;
    top: -1px;
}

.toggle.btn.active {
    background-color: #e7e7e7; /* was #008CBA; */
    color: black;              /* was white */
    left: 28px;
}

.toggle.btn.active p {
    position: absolute;
    font-size: 16pt;
    left: 3px;
    top: -1px;
}

/**************************************************************************************************
 * Cash Pool - List of entries
 **************************************************************************************************/

.cash-name-column {
    width: 15%;
    padding-left: 5px;
}

.cash-description.column {
    width: 50%;
}

.cash-date-column {
    width: 15%;
}

.cash-value-column {
    width: 10%;
    text-align: right;
    padding-right: 5px;
}

.cash-button-column {
    width: 10%;
    text-align: right;
}

.cash-button {
    border: 1px solid;
    width: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    background: transparent;
    color: #000;
}

.cash-button:hover {
    background: #aaa;
    color: #000;
    cursor: pointer;
}