table{
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #E0E0E0;
}

td {
    position: relative;
    padding: 2px;
}

tr.strikethrough td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

tr.strikethrough span::after {
    float: right;
    font-family: 'FontAwesome';
    content: "\f00d";
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.table-header {
    font-weight:bold;
}

.name-column {
    width: 20%;
    padding-left: 5px;
}

.description.column {
    width: 60%;
}

.value-column {
    width: 20%;
    text-align: right;
    padding-right: 5px;
}

.negative-panel {
    background-color: #F0E0E0;
}

.positive-panel {
    background-color: #E0F0E0;
}

.overview-name {
    text-align: right;
    font-weight: bold;
}

.overview-value {
    
}

.navbar-default {
    background: #404040;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

.item-name-column {
    width: 50%;
}

.form-inline {
    padding:10px;
}
.form-inline > * {
    margin:15px 3px !important;
}

.form-inline > .form-group > label {
    margin-right: 5px;
}

.panel-default > .panel-heading {
    background-color: #404040;
    color: #FFFFFF;
    font-size: 15pt;
}

.panel-primary > .panel-heading {
    background-color:  #4CC3D9;
    color: #FFFFFF;
    font-size: 15pt;
    border-color: #ddd;
}

.panel-primary {
    border-color: #ddd;
}