//--------------------------------------------------------------------------------------------------
//- Document Start
//--------------------------------------------------------------------------------------------------

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title}
        //------------------------------------------------------------------------------------------
        //- CSS
        //------------------------------------------------------------------------------------------
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        //- link(href='/css/font-awesome.min.css', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/wg.css')
        link(rel='stylesheet', href='/css/fullcalendar.min.css')
        //- pages can insert additional cas files by extending the css block
        block css

    body(style='padding-top:70px')
        include navbar
        .container
            block content

//--------------------------------------------------------------------------------------------------
//- Scripts
//--------------------------------------------------------------------------------------------------
//- script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
//- script(type='text/javascript', src='/js/jquery-1.11.2.min.js')
script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/jquery-ui.min.js')
//- script(type='text/javascript', src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
//- script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
script(type='text/javascript', src='/js/moment.min.js')
script(type='text/javascript', src='/js/fullcalendar.min.js')
script()
//- activate tooltips
script.
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover({trigger: 'hover'});
    });
//- pages can insert additional scripts by extending the script block
block scripts