nav.navbar.navbar-dark.bg-dark.navbar-expand-md.fixed-top
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navContent' aria-controls='navContent' aria-expanded='false' aria-label='toggle navigation')
        span.navbar-toggler-icon
    
    .collapse.navbar-collapse(id='navContent')
        ul.navbar-nav.mr-auto.navbar-left
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item.active
                a.nav-link(href='/cashPools') CashPools
            li.nav-item.active
                a.nav-link(href='/billing') Billing
        ul.navbar-nav.navbar-right
            if loggedIn === true
                li.nav-item.active.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                        font(size='+0')
                            i.fa.fa-child
                        strong
                            = ' ' + username + ' '
                        span.caret
                    .dropdown-menu.navbar-dropdown
                        a.dropdown-item(href='/account/changePassword')
                            i.fa.fa-edit
                            = ' Change password'
                        a.dropdown-item(href='/account/create')
                            i.fa.fa-users
                            = ' Create new account'
                        a.dropdown-item(href='/account/delete')
                            i.fa.fa-trash-o
                            = ' Delete account'
            li.nav-item.active
                if loggedIn === true
                    a.nav-link(href='/logout', data-toggle='tooltip', data-placement='bottom', title='Logout')
                        font(size='+0')
                            i.fa.fa-sign-out
                else
                    a.nav-link(href='/login', data-toggle='tooltip', data-placement='bottom', title='Login')
                        font(size='+1')
                            i.fa.fa-sign-in
