extends accountTemplate

block accStateMessages
    - if (state === 'success') {
        .alert.alert-success
            h4
                = 'The account was created successfully.'
    - } else if (state === 'usernameDuplicate') {
        .alert.alert-danger
            h4
                = 'The username does already exist, please choose another one'
    - } else if (state === 'confirmWrong') {
        .alert.alert-danger
            h4
                = 'The password and it\'s confirmation don\'t match. Please try again.'
    - } else if (state === 'invalid') {
        .alert.alert-danger
            h4
                = 'The format submitted password was invalid. Please make sure JavaScript is enabled and the page is loaded without errors.'
    - }
    
block accHeadline
    = 'Create a new account'

block accContent
    form(action='/account/create', method='post')
        fieldset
            .form-group
                label(for='username')
                    h5
                        = 'Enter the desired username'
                input.form-control(type='text', id='username', name='username', required)
            .form-group
                label(for='newPwdPlain')
                    h5
                        = 'Enter the desired password'
                input.form-control(type='password', id='newPwdPlain', required, onChange='setPwdHash(\'newPwdPlain\', \'newPassword\')')
                input.form-control(type='hidden', id='newPassword', name='newPassword', value='')
            .form-group
                label(for='confirmPwdHash')
                    h5
                        = 'Confirm the password'
                input.form-control(type='password', id='confirmPwdHash', required, onChange='setPwdHash(\'confirmPwdHash\', \'confirmPassword\')')
                input.form-control(type='hidden', id='confirmPassword', name='confirmPassword', value='')
            .form-group
                button.btn.btn-primary.btn-block(type='submit', id='submitButton', disabled)
                    = 'Create account'
