extends accountTemplate

block accHeadline
    = 'Delete '
    strong
        = username
    = '?'

block accContent
    p
        = 'Are you sure you want to delete the account?'
        br
    form(action='/account/delete', method='post')
        button.btn.btn-primary.btn-block(type='submit')
            = 'Yes'
        button.btn.btn-primary.btn-block(type='button', onclick='location.href=\'/\';')
            = 'No'