extends ../templates/layout

mixin poolTitle(status)
    - if (status === 'open')
        i.fa.fa-folder-open &nbsp;
        = 'Open Pools'
    - else if (status === 'closed')
        i.fa.fa-folder &nbsp;
        = 'Closed Pools'
    - else if (status === 'settled')
        i.fa.fa-money &nbsp;
        = 'Settled Pools'
    - else
        = 'Unknown List'

mixin poolDisclaimer(status)
    p
        - if (status === 'open')
            = "These are the pools which are open and accept new entries."
        - else if (status === 'closed')
            = "These pools have been closed and don't accept new entries, but payments have not been settled yet."
        - else if (status === 'settled')
            = "These pools don't accept new entries and all payments have been settled. They are just here for reference."
        - else
            = "These pools have an unknown state. This should not happen, so please contact your admin if your see this."

mixin poolTableBody(status)
    +poolDisclaimer(status)
    //- Create a subset containing only the pools with the specified state
    - var pools = []
    - for (var key in cashPoolsData) {
        - if (cashPoolsData[key].status === status)
            - pools.push(cashPoolsData[key])
    - }
    //- make sure the table is only shown if there are any pools present
    - if (pools.length === 0) {
        p There are currently no pools in this category.
    -  } else {
        table
            tr.table-header
                td 
                td Pool Name
            - for (var i = 0; i < pools.length; i++) {
                - var currentItem = pools[i]
                tr(requires-action=requiresActionOfUser[currentItem.id].toString())
                    td.pool-action-column
                        a(href='cashPools/' + currentItem.id)

                            .icon(data-toggle='tooltip', data-placement='bottom', title='Open this pool')
                                i.fa.fa-folder-open
                    td
                        a(href='cashPools/' + currentItem.id)
                            = currentItem.name
            - }
    - }

mixin poolTable(status, collapse)
   .container
        .panel.panel-default
            .panel-heading 
                +poolTitle(status)

                -if(collapse)
                    i.fa.fa-chevron-down(onclick="toggle_list_collapse(this);", style="float: right; cursor: pointer")
                -else
                    i.fa.fa-chevron-up(onclick="toggle_list_collapse(this);", style="float: right; cursor: pointer")
            
            -if(collapse)
                .panel-body(class="collapse")
                    +poolTableBody(status)
            -else
                .panel-body
                    +poolTableBody(status)
                    



block content
    +poolTable('open', false)
    +poolTable('closed', true)
    +poolTable('settled', true)

    .container
            .panel.panel-primary
                .panel-heading Add a new Pool
                .panel-body 
                    form(action="/cashPools", method="post")
                        .row
                            .col-sm-2
                                .form-group
                                    label(for='name')
                                        h5 name
                                    input.form-control(type='text', id='name', name='name', required)
                            .col-sm-2
                                .form-group
                                    label(for='owner')
                                        h5 owner                                  
                                    select.form-control(type='text', id='owner', name='owner')
                                        - for (var i = 0; i < usernames.length; i++) {
                                            -if (usernames[i] == username)
                                                option(selected='selected')
                                                    = usernames[i]
                                            - else
                                                option
                                                    = usernames[i]
                                        - }       
                            .col-sm-2
                                .form-group
                                    label(for='participants')
                                        h5 participants                                  
                                    select.form-control(type='text', id='participants', name='participants' multiple)
                                        - for (var i = 0; i < usernames.length; i++) {
                                            -if (usernames[i] == username)
                                                option(selected='selected')
                                                    = usernames[i]
                                            - else
                                                option
                                                    = usernames[i]
                                        - }
                            .col-sm-2
                                .form-group
                                    label(for='startDate')
                                        h5 start
                                    input.form-control(type='text', class='datepicker', name='startDate', pattern='^\\d{2}\\.\\d{2}\\.\\d{4}', required)
                            .col-sm-2
                                .form-group
                                    label(for='endDate')
                                        h5 end
                                    input.form-control(type='text', class='datepicker', name='endDate', pattern='^\\d{2}\\.\\d{2}\\.\\d{4}', required)
                            .col-sm-2
                                .from-group
                                    lable(for='enforceTimeBounds')
                                        h5 time bounds
                                    input(type='checkbox', name='enforceTimeBounds')
                        .row
                            .col-sm-10
                            .col-sm-2
                                button.btn.btn-primary.btn-block(type='submit') Submit

block css
    link(href='/css/bootstrap-datepicker.min.css', rel='stylesheet')
                
block scripts
    script(type='text/javascript', src='/js/bootstrap-datepicker.min.js')
    script(type='text/javascript').
        $(function() {
            $('.datepicker').datepicker({ 
                 format: 'dd.mm.yyyy'
            }).datepicker("setDate", new Date());
        });
        function toggle_list_collapse(object) {
            var panel = object.parentNode.nextElementSibling;

            if(object.className == "fa fa-chevron-down") {
                object.setAttribute("class", "fa fa-chevron-up");
                panel.setAttribute("class", "panel-body");
            } else {
                object.setAttribute("class", "fa fa-chevron-down");
                panel.setAttribute("class", "panel-body collapse");
            }
        }
