extends ../templates/layout

mixin poolTitle(status)
    - if (status === 'open')
        i.fa.fa-folder-open &nbsp;
        = 'Open Pools'
    - else if (status === 'closed')
        i.fa.fa-folder &nbsp;
        = 'Closed Pools'
    - else if (status === 'settled')
        i.fa.fa-money &nbsp;
        = 'Settled Pools'
    - else
        = 'Unknown List'

mixin poolDisclaimer(status)
    p
        - if (status === 'open')
            = "This are the pools which are open and accept new entries."
        - else if (status === 'closed')
            = "This pools have been closed and don't accept new entries, but payments have now been settled yet."
        - else if (status === 'settled')
            = "This pools don't accept new entries and all payments have been settled. They are just here for reference."
        - else
            = "This pools have an unknown state. This should not happen, so please contact your admin if your see this."

mixin poolTable(status)
   .container
        .panel.panel-default
            .panel-heading 
                +poolTitle(status)
            .panel-body
                +poolDisclaimer(status)
                table
                    tr.table-header
                        td Pool Name
                        td Action
                    - for (var key in cashPoolsData) {
                        - var currentItem = cashPoolsData[key]
                        - if (currentItem.status !== status)
                            - continue
                        tr
                            td
                                a(href='cashPools/' + currentItem.id)
                                    = currentItem.name
                            td.pool-action-column
                                if (currentItem.status !== 'open')
                                    form(action='cashPools/' + currentItem.id + '/setState?state=open', method="post", class="inline") 
                                        button.btn.btn-primary(type='submit', data-toggle='tooltip', data-placement='bottom', title='Set pool status to open')
                                            i.fa.fa-folder-open
                                if (currentItem.status !== 'closed')
                                    form(action='cashPools/' + currentItem.id + '/setState?state=closed', method="post", class="inline") 
                                        button.btn.btn-primary(type='submit', data-toggle='tooltip', data-placement='bottom', title='Set pool status to closed')
                                            i.fa.fa-folder
                                if (currentItem.status !== 'settled')
                                    form(action='cashPools/' + currentItem.id + '/setState?state=settled', method="post", class="inline") 
                                        button.btn.btn-primary(type='submit', data-toggle='tooltip', data-placement='bottom', title='Set pool status to settled')
                                            i.fa.fa-money
                    - }

block content
    //- list of all opened cash pools
    +poolTable('open')
    //- list of all closed cash pools
    +poolTable('closed')
    //- list of all settled cash pools
    +poolTable('settled')

    .container
            .panel.panel-primary
                .panel-heading Add a new Pool
                .panel-body 
                    form(action="/cashPools", method="post")
                        .row
                            .col-sm-2
                                .form-group
                                    label(for='name')
                                        h5 name
                                    input.form-control(type='text', id='name', name='name', required)
                            .col-sm-2
                                .form-group
                                    label(for='owner')
                                        h5 owner                                  
                                    select.form-control(type='text', id='owner', name='owner')
                                        - for (var i = 0; i < usernames.length; i++) {
                                            -if (usernames[i] == username)
                                                option(selected='selected')
                                                    = usernames[i]
                                            - else
                                                option
                                                    = usernames[i]
                                        - }       
                            .col-sm-2
                                .form-group
                                    label(for='participants')
                                        h5 participants                                  
                                    select.form-control(type='text', id='participants', name='participants' multiple)
                                        - for (var i = 0; i < usernames.length; i++) {
                                            -if (usernames[i] == username)
                                                option(selected='selected')
                                                    = usernames[i]
                                            - else
                                                option
                                                    = usernames[i]
                                        - }
                            .col-sm-2
                                .form-group
                                    label(for='startDate')
                                        h5 start
                                    input.form-control(type='text', class='datepicker', name='startDate', pattern='^\\d{2}\\.\\d{2}\\.\\d{4}', required)
                            .col-sm-2
                                .form-group
                                    label(for='endDate')
                                        h5 end
                                    input.form-control(type='text', class='datepicker', name='endDate', pattern='^\\d{2}\\.\\d{2}\\.\\d{4}', required)
                            .col-sm-2
                                .from-group
                                    lable(for='enforceTimeBounds')
                                        h5 time bounds
                                    input(type='checkbox', name='enforceTimeBounds')
                        .row
                            .col-sm-10
                            .col-sm-2
                                button.btn.btn-primary.btn-block(type='submit') Submit
                                

block css
    link(href='/css/bootstrap-datepicker.min.css', rel='stylesheet')
                
block scripts
    script(type='text/javascript', src='/js/bootstrap-datepicker.min.js')
    script.
        $(function() {
            $('.datepicker').datepicker({ 
                 format: 'dd.mm.yyyy'
            }).datepicker("setDate", new Date());
        });